body {
    background-image: linear-gradient(to left, #860000, #545484);
    margin: 0;

}

.header_container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, #860000, #545484);
    margin: 0;
    height: 8vh;
    border-radius: 2px;
    padding: 8px;
}

.header_container #img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_container i {
    display: flex;
}

.header_container img {
    width: 30vh;
}


.main_container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main_container iframe {
    display: flex;
    margin-top: 8%;
}


